html,
body {
  margin: 0 auto;
  min-width: 600px;
  font-size: 16px;
}

.page-title {
  text-align: center;
}

#soapbox {
  text-align: center;
}

#canvas {
  display: block;
  margin: auto;
  border: 1px solid #AAAAAA;
}